.search-bar{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 60px;
 }

 input{
    padding: 12px;
    width: 315px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(160, 155, 155, 0.24) 0px 3px 8px;
    z-index: 2;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.search-bar .list{
    display: none;
    width: 312px;
    background-color: white;
    box-shadow: rgba(160, 155, 155, 0.24) 0px 3px 8px;
    color: black;   
    z-index: 1;
    position: absolute; 
    top: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

 .search-bar .list div {
   padding: 10px 0 10px 10px;
   font-size: 0.70rem;
   transition: background-color 0.15sec;
   cursor: pointer;
}

.list div:hover {
    background-color: rgb(214, 212, 212);
    border-radius: 7px;
}
